body {
  font-family: Arial, sans-serif;
  background-color: #f2f2f2;
  background-image: url('/img/whitebg.jpg');
  background-size: cover;
  }

  * {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Space Grotesk', sans-serif;
  }
  
  body::-webkit-scrollbar {
    display: none;
  }
  
  /* Hide scrollbar for IE, Edge and Firefox */
  body {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
  }
  



  .nav {
    display: flex;
    width: 100%;
    border: 1px solid gray;
    text-align: center;
    background-color: white;
  }
  .nav * {
    flex-grow: 1;
  }
  
  .nav-title {
    width: 20%;
  }
  
  .nav-title p {
    font-size: 2em;
    font-weight: bold;
  }
  .nav-title a {
    color: initial; text-decoration: none;
  }
  .nav-main {
    border: 1px solid gray;
    display: flex;
    flex-direction: column;
    border-bottom: none;
    border-top: none;
    width: 100%;
  }
  
  .nav-main ul{
    display: flex;
    flex-wrap: nowrap;
    list-style: none;
    white-space: nowrap;
    align-items: center;
    font-weight: bold;
  }
  .nav-main ul a {
    text-decoration: none;
    color: black;
  }
  .nav-promo {
    padding: 1em;
    display: flex;
    background: #e7eaeb;
    margin: 0;
    max-height: 1em;
    overflow: hidden;
    align-items: center;
    border-bottom: 1px solid gray;
  
  }
  .nav-promo p span {
    margin-left: 1em;
    background-color: #b6c5c7;
    padding: 2px 1em;
    border: gray solid 1px;
  }
  .nav-preferences {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-shrink: 1;
    width: 20%;
  }
  .nav-preferences a {
    color: black;
    text-decoration: none;
  }
  .nav-lang {
    max-height: 1em;
    padding: 1em;
    border-bottom: 1px solid gray;
    width: 100%;
    display: flex;
    align-items: center;
  }
  .nav-user {
    display: flex;
    align-items: center;
    gap: 1em;
    width: 100%;
  }
  .searchbar {
    margin: 1em auto;
    border: gray solid 1px;
    width: fit-content;
    height: 2em;
    display: flex;
    align-items: center;
    padding-left: 0.5em;
    background-color: #e7eaeb;
  }
  
  .searchbar input {
    border: none;
    width: 50ch;
    padding: 0 0.6em;
    background: #e7eaeb;
  }
  
  .searchbar button {
    border: none;
    background: none;
    border-left: gray 1px solid;
    height: 100%;
    padding: 0 2em;
    font-weight: bold;
    background-color: #b6c5c7;
  }

  .record .img {
    height: 500px;
    width: auto;
    object-fit: contain; 
  }
.flex {
  display: flex;
  justify-content: space-around;
}
.record {
  padding: 50px 100px;
}

.record .title {
  font-size: 2em;
  font-weight:500;
}

.record .rating {
  margin-bottom: 1em;
}

.record .price {
  font-size: 1.2em;
  font-weight:500;
  margin-bottom: 2em;
}

.checked {
  color: #e9b759;
}

.genre, .rating-count, .purchased-count, .add-rating {
  margin: 10px 0;
  font-weight: 500;
}
.fa-heart {
  font-size: 1.2em;
  background: #e9b759; 
  border-radius: 50%; 
  padding: 5px;
  color: white;
  display: flex;
  position: relative;
  bottom: -5px;
  cursor: pointer;
}

.add-rating input,
.add-rating textarea {
  border: 1px solid gray;
  background: hsl(0, 0%, 100%);
  padding: 3px 0;
  margin: 10px 0;
}

.add-rating input {
  width: 20ch;
}

.add-rating textarea {
  width: 500px;
  height: 10ch;
  resize: vertical;
}

.record-form button[type="submit"] {
  border: none;
  background: none;
  border: gray 1px solid;
  height: 100%;
  padding: 0.5em 1em;
  font-weight: bold;
  background-color: #b6c5c7;
}

.comment {
  margin-top: 20px;
  border: 1px solid gray;
  padding: 1em;
  margin-bottom: 1em;
  max-width: 500px;
  background: hsl(195, 9%, 89%);
  }
  
  .comment .author {
  font-weight: bold;
  margin-bottom: 0.5em;
  }
  
  .comment .body {
  margin-top: 0.5em;
  }